<style>
.about-main {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;
  padding: 320px 8% 0;
  color: white;
  background-image: url("/about.jpg");
  padding: 350px 8% 0;
}

.about-main h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
}

.about-main p {
  font-weight: 200;
  font-size: 20px;
}

.about-img {
  width: 84%;
}	
</style>



<div class="about-main">
  <h2>HunterAppとは</h2>
  <p>
    猟銃会の方むけのサービスです。
    山での活動を投稿し、他のユーザーと情報共有できます。
  </p>
</div>